<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
</head>
<body>
<h1>My blog</h1>
  <form method="POST" action="{{ url_for('add_post') }}">
    <label>Title</label><br>
    <input name="title"><br><br>
    <label>Author</label><br>
    <input name="author"><br><br>
    <label>Post</label><br>
    <textarea name="content"></textarea><br>
    <input type="submit" value="Submit">
  </form>
  <hr>
  {% for post in posts %}
    <h2>{{post.title}}</h2>
    <h4>{{post.author}}</h4>
    <p>{{post.content}}</p>
    <a href="{{ url_for('del_post', i=post.id) }}">Delete</a>
    <a href="{{ url_for('edit_post', i=post.id)}}">Edit</a>
    <br><hr>
  {% endfor %}
</body>
</html>